// css style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;

}

a:hover {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
}

:root {
    --primary: #7DF840;
    --second: #5DCC26;
    --third: #1B1F1A;
    --white: #fff;
    --black: #000;
}



.containers {
    // max-width: 144rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;

}

.relative {
    position: relative;
}

.hide {
    display: none !important;
}

.active {
    display: block;
    opacity: 1 !important;
}

.button {
    outline: unset;
    border: none;
    background: none;
    cursor: pointer;
}

@mixin dFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

@mixin dFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}




// header top
.header {
    &__menu {
        border-bottom: 1px solid rgba(27, 31, 26, 0.1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    }

    &__top {
        min-height: 4.5rem;
        background: var(--third);
        @include dFlexCenter();
        margin-bottom: 2rem;
    }

    &__rows {

        width: 100%;
        display: flex;

        justify-content: space-between;

        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    &__cols {
        @include dFlexCenter();
        cursor: pointer;
        height: 3.8rem;

        & img {
            margin: 0.5rem;
        }

        & span,
        & a {
            color: var(--white);
            opacity: 0.5;
            margin-left: 1rem;
            font-size: 1.6rem;
            line-height: 1.9rem;

            &.green {
                color: var(--primary);
                opacity: 1;
                margin-left: 0.5rem;
                padding-top: 0.5rem;
            }

            &:hover {
                color: var(--second);
            }
        }

        & .noti {
            position: absolute;
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            background: var(--primary);
            text-align: center;
            opacity: 1;
            line-height: 1.5rem;
            border-radius: 50%;
            top: 0.5rem;
            right: -0.3rem;
            font-size: 1.2rem;
            color: var(--third);
            font-weight: 500;
        }
    }

    &__cols:nth-child(2) {
        margin-right: auto;
    }

    &__cols:first-child {
        margin-right: 8rem;
    }

    &__cols:nth-child(3),
    &__cols:nth-child(5) {
        margin-right: 5rem;
    }

    &__link {
        opacity: 1 !important;
    }

}



.menu__search {
    position: absolute;
    right: 0;
    // bottom: 0;
}

#search {
    display: flex;
    width: 100%;
    height: 5.4rem;
    padding: 1.5rem 0 1.5rem 2.3rem;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    line-height: 2.3rem;
    color: #7a7a7a;
    background: #f4f4f4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    & input {
        background: none;
        border: none;
        width: 100%;
    }
}

.custom-search {
    top: 0;
    left: unset !important;
    right: 0 !important;
    transform: translate3d(0, -20px, 0px) !important;
    width: 65rem !important;
    margin: 0;
    padding: 0;
    border: none;
}

// header menu
.menu {
    width: 100%;
    @include dFlex();
    margin-bottom: 2rem;
    position: relative;

    &__logo {
        display: flex;
        align-items: flex-start;
        flex-direction: row;

        & img {
            margin-right: 2rem;
        }

        & h2 {
            font-weight: 900;
            font-size: 2.8rem;
            line-height: 3.3rem;
            color: var(--third);
        }

        & p {
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: var(--second);
        }
    }

    &__nav {
        margin-left: auto;
        transition: ease 0.3s;
    }

    &__list {
        @include dFlex();
        margin: 0;
    }

    &__item {
        padding: 0.5rem 0;

        & a {
            font-size: 2rem;
            line-height: 2.3rem;
            color: var(--third);

            &:hover {
                color: var(--second);
            }
        }
    }

    &__item:not(:last-child) {
        margin-right: 8rem;
    }

    &__item:last-child {
        margin-right: 4rem;
    }

    &__collapse {
        cursor: pointer;
        position: absolute;
        margin-left: auto;
        right: 0;
        top: 0;
        z-index: 999;
        display: none;
    }

}


.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--third);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

// header banner
.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 42rem;
    margin-bottom: 4rem;

    &__item:hover &__link {
        background: var(--second);
    }

    &__category {
        width: 21%;
        height: 100%;
        background: var(--third);
        margin-right: 1rem;

        & ul {
            margin: 0;
        }
    }

    &__link {
        display: flex;
        padding: 1.39rem 1.6rem;
        align-items: center;
        justify-content: flex-start;
        position: relative;



        &::after {
            position: absolute;
            content: '';
            width: 100%;
            border-bottom: 1px solid #fff;
            bottom: 0;
            left: 0;
            opacity: 0.1;
        }

        &--opacity::after {
            opacity: 0.5;
        }

        & img {
            max-width: 2.6rem;
            max-height: 2.6rem;
            display: block;
            margin-right: 1.5rem;
        }

        & span {
            font-size: 1.4rem;
            color: var(--white);
            opacity: 0.5;
        }

        & h2 {
            font-size: 2rem;
            font-weight: bold;
            color: var(--primary)
        }

    }



    & #owl-demo {
        width: 79%;
        height: 100%;
    }

}

// slider
// image
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-carousel .owl-item img {
    max-height: 42rem;
}

// .owl-theme .owl-nav [class*=owl-] {
//     background: transparent;
// }

// nav button
.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    outline: none;
}

.owl-theme {
    position: relative;
}

.owl-theme .owl-nav {
    width: 100%;
    position: absolute;
    top: calc(50% - 24px);
    margin-top: 0;
}

.owl-prev {
    position: absolute;
    left: 0;
}

.owl-next {
    position: absolute;
    right: 0;
}

.owl-theme .owl-nav [class*=owl-] {
    opacity: 0.5;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    opacity: 1;
}

// dots
.owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    left: calc(50% - 50%);
    width: 100%;
}




.owl-theme .owl-dots .owl-dot span {
    background: url(../images/icon-slider.png) no-repeat center center;
    width: 3rem;
    height: 3rem;
    position: relative;


}

.owl-theme .owl-dots .owl-dot:hover span {
    background: url(../images/icon-slider-active.png) no-repeat center center;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: url(../images/icon-slider-active.png) no-repeat center center;
    width: 3rem;
    transition: ease 0.5s;
}

.owl-theme .owl-dots .owl-dot {
    position: relative;
    margin-right: 2rem;
}

.owl-theme .owl-dots .owl-dot:not(:last-child)::after {
    position: absolute;
    content: "";
    right: -18px;
    top: 45%;
    background: red;
    min-width: 1.7rem;
    border: 2px solid #fff;
    border-radius: 10px;
    box-sizing: border-box;
    opacity: 0.5;
}

// content
// content dang dau gia
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 9rem;

    &__now {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8rem;
        margin-bottom: 5rem;

        & h2 {
            font-size: 2.5rem;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--primary);
            display: block;
            height: 100%;
            background: var(--third);
            margin: 0 4rem;
            line-height: 8rem;
            text-align: center;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                left: 100%;
                top: 0;
                border-top: 4rem solid transparent;
                border-left: 4rem solid var(--third);
                border-bottom: 4rem solid transparent;
            }

            &::before {
                position: absolute;
                content: "";
                right: 100%;
                top: 0;
                border-top: 4rem solid transparent;
                border-right: 4rem solid var(--third);
                border-bottom: 4rem solid transparent;
            }
        }

        & span {
            width: 16rem;
            border: 2px solid var(--third);
            border-radius: 10px;
            margin: 0 3rem;
            display: inline-block;
        }
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;


        &--bds {
            flex-flow: row wrap;
        }
    }

    &__item {
        width: 20%;
        height: 38.5rem;
        padding: 0 .9rem;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;

        &--bds {
            width: 48% !important;
            height: 18.4rem !important;
            padding: 0 0.9rem;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;
            margin-bottom: 1rem;
            margin-right: 0 !important;

            &-mr {
                margin-right: 3.5rem !important;
                margin-bottom: 4.5rem;
            }
        }


    }

    &__item:not(:last-child) {
        margin-right: 1rem;
    }

    &__bg {
        background: #1B1F1A;
        box-shadow: 0px 5px 5px rgba(27, 31, 26, 0.24);
        border-radius: 5px;
        width: 100%;
        height: 28.7rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0.1;

        &--bds {
            background: #1B1F1A;
            box-shadow: 0px 5px 5px rgba(27, 31, 26, 0.24);
            border-radius: 5px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            opacity: 0.1;
            height: 18.4rem !important;
            width: 80%;
            margin-left: auto;
            right: 0;
        }
    }

    &__item:hover &__bg {
        opacity: 1;
        box-shadow: 0px 5px 5px rgba(27, 31, 26, 0.24);
    }

    &__item:hover .box__title {
        color: var(--white);
    }


    &__item:hover .box__bottom p {
        color: var(--white);
        opacity: 0.5;
    }

    &__item:hover .box__price {
        color: var(--primary) !important;
        opacity: 1 !important;
    }

    &__title {
        width: 100%;
        display: flex;
        margin-bottom: 4.5rem;
        align-items: center;
        justify-content: space-between;

        & h2 {
            font-size: 2.5rem;
            line-height: 2.9rem;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--third);
        }

        & span {
            color: var(--second);
        }

        & a {
            height: 3.6rem;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: var(--white);
            background: rgba(27, 31, 26, 0.5);
            padding: 0.8rem 0.2rem;
            position: relative;

            &:hover {
                color: var(--primary);
            }

            &::before {
                position: absolute;
                content: "";
                right: 100%;
                top: 0;
                border-top: 1.8rem solid transparent;
                border-right: 1rem solid rgba(27, 31, 26, 0.5);
                border-bottom: 1.8rem solid transparent;
            }

            &::after {
                position: absolute;
                content: "";
                left: 100%;
                top: 0;
                border-top: 1.8rem solid transparent;
                border-left: 1rem solid rgba(27, 31, 26, 0.5);
                ;
                border-bottom: 1.8rem solid transparent;
            }
        }
    }

}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--bds {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__top {
        width: 100%;
        height: 24.3rem;

        &--bds {
            max-width: 22.9rem;
            max-height: 16.6rem;
        }
    }

    &__image {
        position: relative;
        width: 100%;
        height: 100%;

        & img {
            width: 100%;
            height: 100%;
            display: block;
            max-width: 100%;
        }

        & button {
            position: absolute;
            bottom: 1.3rem;
            right: 1.8rem;
            padding: 0;
        }
    }

    &__bottom {
        padding: 2rem 0;
        width: 100%;
        box-sizing: border-box;
        text-align: center;

        &--bds {
            padding: 2rem 0;
            width: 100%;
            box-sizing: border-box;
            text-align: left;
            padding-left: 3.5rem;
            margin-right: 3.5rem;
            position: relative;
        }

        & p {
            font-size: 1.4rem;
            line-height: 2rem;
            color: var(--third);
            margin: 0;
            opacity: 0.5;

        }

        & .btn--dau-gia {
            position: absolute;
            right: 0;
            top: 20%;
        }
    }

    &__title {
        font-size: 2rem;
        line-height: 2.3rem;
        color: var(--black);
        font-weight: bold;
    }

    &__price {
        color: var(--second) !important;
        opacity: 1 !important;
    }
}

// 
.custom-card,
.card-header {
    background: none;
    border: none;
}


.custom-card {

    &__form {
        width: 100%;
    }

    &__row {
        width: 40%;
        margin-right: 0.5rem;
    }

    &__arrow {
        position: relative;


        &:after {
            content: "";
            background: url(../images/icon-dropdown.png) no-repeat center center;
            right: 0.5rem;
            top: 45%;
            width: 1.2rem;
            height: 0.8rem;
            position: absolute;
            pointer-events: none;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
        }
    }

    &__search {
        border: 1px solid #ced4da;
        border-radius: .25rem;
        background: #f4f4f4;
        width: 30%;
        margin-right: 0.5rem;
    }

    &__control {
        max-width: 100%;
        font-size: 1.8rem;
        background: #f4f4f4;
        // color: rgba($color: var(--third), $alpha: 0.5);
        min-height: 4.5rem;
        padding-right: 2rem;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-right: 0.5rem;

        &::-ms-expand {
            display: none;
        }


    }

    &__button {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 5px;
        background: var(--third);


        & i {
            font-size: 1.4rem;
            color: var(--primary);
        }
    }

    &__image {
        max-width: 8rem;
        height: 8rem;
        border-radius: 0.5rem;
    }

    &__thead {
        background: #e9e9e9 !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        color: var(--third) !important;
        font-size: 2.5rem;
        line-height: 2.9rem;
        font-weight: 500;
    }

    & table.dataTable thead .sorting:before,
    table.dataTable thead .sorting:after {
        bottom: 0;
        top: 0.5rem;
        content: '';

    }

    & table.dataTable thead .sorting:before {
        background: url(../images/icon-sort-up.png) no-repeat center center;
        height: 1.1rem;
        width: 0.7rem;
        top: 40%;
    }

    & table.dataTable thead .sorting_asc:before {
        background: url(../images/icon-sort-up.png) no-repeat center center;
        height: 1.1rem;
        width: 0.7rem;
        top: 40%;
        content: '';
    }

    & table.dataTable thead .sorting_asc:after {
        background: url(../images/icon-sort-down.png) no-repeat center center;
        height: 1.1rem;
        width: 0.7rem;
        top: 40%;
        content: '';
    }

    & table.dataTable thead .sorting:after {
        background: url(../images/icon-sort-down.png) no-repeat center center;
        height: 1.1rem;
        width: 0.7rem;
        top: 40%;
        content: '';
    }


    & table.dataTable thead .sorting_desc:after {
        background: url(../images/icon-sort-down.png) no-repeat center center;
        height: 1.1rem;
        width: 0.7rem;
        top: 30%;
        content: '';
    }

    & table.dataTable thead .sorting_desc:before {
        background: url(../images/icon-sort-up.png) no-repeat center center;
        height: 1.1rem;
        width: 0.7rem;
        top: 30%;
        content: '';
    }

    &__title,
    &__status {
        font-size: 2.5rem;
        line-height: 2.9rem;
        color: var(--black);
        opacity: 0.5;
    }

    &__date {
        font-size: 2.5rem;
        line-height: 2.9rem;
        color: var(--second);
        font-weight: 500;
    }

    .table {
        width: 100%;
        background: #f4f4f4;
        border-radius: 5px;
    }

    & .table thead th {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    & .table td {
        padding-top: 2.8rem;
        padding-bottom: 2.8rem;
        vertical-align: middle;
    }

    &__footer {
        border: none;
        background: none;
        color: var(--third);
        font-size: 1.8rem;
        line-height: 2.1rem;
        opacity: 0.5;
        text-align: right;
    }
}

.text-custom {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: var(--third);
    opacity: 0.5;
}

// footer

footer {
    background: var(--third);
}

.footer {
    min-height: 48rem;
    @include dFlex();
    align-items: flex-start;

    padding-top: 4.5rem;
    padding-bottom: 4.5rem;

    &__logo {
        img {
            margin-bottom: 1rem;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;

        & h2 {
            font-size: 2.8rem;
            line-height: 3.3rem;
            font-weight: 900;
            color: var(--white);
        }

        & p {
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: var(--second);
        }
    }

    &__item {
        & h2 {
            color: var(--white);
            font-size: 2.5rem;
            line-height: 2.9rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        & a {
            font-size: 1.6rem;
            line-height: 4rem;
            color: var(--white);
            opacity: 0.5;
        }
    }

    &__reg {
        width: 100%;
        height: 5.2rem;
        position: relative;
        background: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 1.4rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;


        &::before {
            position: absolute;
            content: '';
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.1;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
        }

        & input {
            outline: none;
            border: none;
            color: var(--white);
            opacity: 0.5;
            font-size: 1.6rem;
            line-height: 1.9rem;
            background: none;
            width: 100%;
            height: 100%;
            margin-right: 5px;
            position: relative;
            display: inline-block;
        }

        & span {
            height: 100%;
            width: 2px;
            opacity: 0.5;
            background: var(--white);
            margin-right: 1.6rem;

        }
    }
}


// modal custon

.custom-modal {
    &__dialog {
        max-width: 66rem;
    }

    &__header {
        height: 10rem;
        background: var(--third);
        align-items: center;
        margin-bottom: 2rem;
    }

    &__title {
        width: 100%;
        font-size: 3.4rem;
        line-height: 4rem;
        color: var(--primary);
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    &__icon-close {
        width: 2.6rem;
        background: url(../images/icon-close.png);
        height: 2.6rem;
        display: block;
    }

    &__row {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        &--name {
            margin-bottom: 4rem;
        }

        &--pass {
            margin-bottom: 2.8rem;
        }
    }


    &__label {
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: var(--third);
        opacity: 0.4;
        padding: 0 1rem;
        position: absolute;
        top: 0.65rem;
        left: 0;
        transition: .2s ease-out;
        cursor: text;
        margin: 0;

    }

    &__input {
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: var(--third);
        opacity: 0.4;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding: 0.7rem 1rem;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        position: relative;
        height: 2.8rem;


        & label {
            margin: 0;
            font-size: 1.8rem;
            line-height: 2.1rem;
            font-weight: 500;
            color: var(--third);
            padding-left: 4rem;
        }
    }

    &__forgot {
        margin: 0;
        font-size: 1.8rem;
        line-height: 2.1rem;
        font-weight: 300;
        color: var(--third);
        opacity: 0.5;
    }

    &__padding {
        padding: 0 1rem;
        margin-bottom: 4.5rem;
    }

    &__button {
        font-size: 2.8rem;
        font-weight: 500;
        text-transform: none;
        color: var(--primary);
        display: block;
        background: var(--third);
        margin: 0 4rem;
        width: 32rem;
        height: 8rem;
        line-height: 3.3rem;
        text-align: center;
        position: relative;
        outline: unset;
        border: none;
        cursor: pointer;

        &::before {
            position: absolute;
            content: "";
            right: 100%;
            top: 0;
            border-top: 4rem solid transparent;
            border-right: 4rem solid var(--third);
            border-bottom: 4rem solid transparent;
        }

        &::after {
            position: absolute;
            content: "";
            left: 100%;
            top: 0;
            border-top: 4rem solid transparent;
            border-left: 4rem solid var(--third);
            border-bottom: 4rem solid transparent;
        }
    }

    &__login {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    &__footer {
        border: none;
    }

    &__bottom {
        text-align: center;
        width: 100%;
        margin: 3.6rem 0 2.6rem;
    }

    &__text {
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-align: center;
        font-weight: 300;
        color: var(--third);
        opacity: 0.5;
    }

    &__create {
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-align: center;
        font-weight: 500;
        color: var(--third);
        opacity: 0.5;
    }
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
    opacity: 1;
}

/* The container */
// .custom-modal__checkbox {}

/* Hide the browser's default checkbox */
.custom-modal__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.custom-modal__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.8rem;
    width: 2.8rem;
    border: 1px solid #C4C4C4;
    border-radius: 0.3rem;
}

/* On mouse-over, add a grey background color */
.custom-modal__checkbox:hover input~.custom-modal__checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-modal__checkbox input:checked~.custom-modal__checkmark {
    background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-modal__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-modal__checkbox input:checked~.custom-modal__checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-modal__checkbox .custom-modal__checkmark:after {
    left: 0;
    top: 0;
    width: 2.8rem;
    height: 2.8rem;
    background: url(../images/icon-checkbox.png);
}

// style input
input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 1px solid var(--primary);
}

input[type="text"]:focus:not([readonly])+label,
input[type="password"]:focus:not([readonly])+label {
    transform: translateY(-90%);
    font-size: 1.2rem;
    opacity: 1;
}


// dropdown menu right

#editDropdown {
    .dropdown-menu.show {
        display: flex;
    }

    .custon-dropdown {
        width: 28rem;
        right: 0 !important;
        left: unset !important;
        transform: translate3d(10px, 42px, 0px) !important;
        border-radius: 0.5rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 1px solid #e0e0e0;
        background: var(--white);
        min-height: 7.8rem;

        flex-direction: column;


        & span {
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: rgba(27, 31, 26, 0.5);
            font-weight: bold;
            opacity: 1;
            padding: 1.1rem 0 1.4rem 1.6rem;
            border-bottom: 1px solid rgba(27, 31, 26, 0.1);
            margin: 0;
        }

        & a {
            color: rgba(27, 31, 26, 0.5);
            font-size: 1.2rem;
            line-height: 1.4rem;
            opacity: 1;
            padding: 1rem 0 1.4rem 0;
            text-align: center;
            width: 100%;
            margin: 0;

            &:hover {
                color: var(--black);
                background: var(--second);
            }
        }
    }
}

#editLogin {
    .custom-dropdown {
        right: 0 !important;
        left: unset !important;
        transform: translate3d(-10px, 45px, 0px) !important;

        width: 20rem;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 0.3rem 2.4rem;

        & a {
            width: 100%;
            color: rgba(27, 31, 26, 1);
            font-size: 1.2rem;
            line-height: 3.5rem;
            margin: 0;
            padding: 0;
            opacity: 1 !important;

            &:hover {
                background: unset !important;
            }

            &:hover span {
                color: var(--second) !important;
                opacity: 1 !important;
            }
        }

        & span {
            color: rgba(27, 31, 26, 1);
            font-size: 1.2rem;
            line-height: 3.5rem;
            margin: 0;
            padding: 0;
        }

        & img {
            margin-right: 1.8rem;
        }

        &__divider {
            margin-left: -3.2rem;
            margin-right: -2.4rem;
        }
    }

}



// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

    // banner
    .banner {
        flex-direction: column-reverse;
    }

    .banner__category,
    .banner #owl-demo {
        width: 100%;
    }

    .banner__category ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    .banner__link {
        flex-direction: column;
        min-height: 9rem;
        justify-content: flex-end;
    }

    .banner__link img {
        margin: 0;
        margin-bottom: 1.5rem;
    }

    .banner__category {
        margin: 0;
    }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

    // menu 
    .menu {
        flex-direction: column;
    }

    .menu__nav {
        margin: 0;
    }

    // banner 
    .banner__category ul {
        flex-direction: column;
    }

    .banner__item {
        width: 100%;
    }

    .banner__link {
        width: 100%;
        flex-direction: row;
        min-height: auto;
        align-items: center;
        justify-content: flex-start;
    }

    .banner__link img {
        margin-bottom: 0;
        margin-right: 1.5rem;
    }

    // content top
    .content__now span {
        display: none;
    }

    .content__list {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .content__item {
        width: 31%;
        margin-bottom: 1rem;
    }

    // bds
    .content__item--bds {
        width: 100% !important;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .content__list {
        flex-direction: column;
        align-items: center;
    }

    .content__item {
        width: 100%;
    }

    .box {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .content__item {
        height: auto;
        margin-bottom: 1rem;
        margin-right: 0 !important;
    }

    .content__bg {
        height: 21rem;
    }

    // bds
    .content__item--bds {
        height: 100% !important;
    }

    .content__bg--bds {
        width: 100%;
        height: 100% !important;
    }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

    // header menu
    .menu {
        align-items: flex-start;
    }

    .menu__logo {
        flex-direction: column;
        align-items: center;

        & img {
            margin: 0;
        }
    }

    .header__top .header__rows {
        flex-direction: column;
        padding: 1rem 0;
        align-items: flex-start;
    }


    // menu
    .menu__collapse {
        display: block;
    }

    .menu__nav {
        opacity: 0;
    }

    .menu__nav {
        position: absolute;
        top: 0;
        left: 0;
        background: var(--second);
        // height: 100%;
        width: 100%;
        padding: 1rem;
    }

    .menu__list {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .menu__item:hover a {
        color: var(--white);
    }

    // content top 
    .content__now h2 {
        font-size: 1.6rem;
    }

    .box {
        flex-direction: column;
    }

    .content__bg {
        height: 28.7rem;
    }

    .content {
        margin-bottom: 3rem;
    }

    .content__title,
    .content__now {
        margin-bottom: 2rem;
    }

    .content__now {
        height: 6rem;
    }

    .content__now h2 {
        line-height: 6rem;
    }

    .content__now h2::before {

        border-top: 3rem solid transparent;
        border-right: 3rem solid var(--third);
        border-bottom: 3rem solid transparent;
    }

    .content__now h2::after {

        border-top: 3rem solid transparent;
        border-left: 3rem solid var(--third);
        border-bottom: 3rem solid transparent;
    }

    .content__title {
        flex-direction: column;
    }

    .content__title h2 {
        font-size: 1.6rem;
    }

    .content__title a {
        font-size: 1.4rem;
    }

    // bds
    .content__bg--bds {
        height: 18.4rem !important;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    // header top
    // .header__top .header__rows {
    //     flex-direction: row;
    //     align-items: center;
    //     padding: 0;
    // }


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}