ul#profileTab.nav.nav-tabs.border-0.d-flex.justify-content-between(role='tablist')
    li.nav-item
        a.nav-link.active(href='/public/manage-profile.html') Thông tin cá nhân
    li.nav-item
        a.nav-link(href='/public/change-password.html') Đổi mật khẩu
    li.nav-item
        a.nav-link(href='/public/address.html') địa chỉ
    li.nav-item
        a.nav-link(href='/public/verification.html') Xác nhận Địa chỉ của bạn
    li.nav-item
        a.nav-link(href='/public/verification-with-id.html') Xác minh danh tính của bạn