.header__rows
    .header__cols
        img(src="./images/icon-phone.png", alt="phone")
        span +88 12345678
    .header__cols
        img(src="./images/icon-email.png", alt="phone")
        span youremail@gmail.com
    .header__cols.relative#editDropdown.hide
        a.header__link(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', href='javascript:')
            img(src="./images/icon-noti.png", alt="phone")
            span.noti 2
        .dropdown-menu.custon-dropdown
            span Thông báo
            a(href='#') Xem tất cả thông báo

    .header__cols#editLogin.hide
        a.header__link(aria-labelledby='dropdownProfile', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', href='javascript:')
            img(src="./images/icon-user.png", alt="phone")
            span Hi, Buyer
        .dropdown-menu.custom-dropdown(aria-labelledby='dropdownProfile', x-placement='bottom-end', style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-105px, 40px, 0px);')
            
            a.dropdown-item(href='#')
                img(src="./images/icon-profile.png", alt="")
                span Hồ sơ
            a.dropdown-item(href='#')
                img(src="./images/icon-noti-blue.png", alt="")
                span Thông báo của tôi
            a.dropdown-item(href='#')
                img(src="./images/icon-report.png", alt="")
                span Báo cáo một vấn đề
            a.dropdown-item(href='#')
                img(src="./images/icon-transition.png", alt="")
                span Giao dịch của tôi
            a.dropdown-item(href='#')
                img(src="./images/icon-wallet.png", alt="")
                span Ví của tôi
            a.dropdown-item(href='#')
                img(src="./images/icon-setting.png", alt="")
                span Quản lý hồ sơ
            .dropdown-divider.custom-dropdown__divider
            a.dropdown-item(href='#')
                img(src="./images/icon-logout.png", alt="")
                span  Đăng xuất

    .header__cols
        a(data-toggle='modal', data-target='#registerModal', href='javascript:').green Register
    .header__cols
        a(data-toggle='modal', data-target='#loginModal', href='javascript;').green Login