footer
    .containers
        .footer
            .footer__logo
                img(src="./images/logo2.png", alt="logo")
                .footer__text 
                    h2 Đấu Giá Trực Tuyến
                    p Best Biding System
            .footer__about.footer__item
                h2 Về chúng tôi
                ul
                    li
                        a(href="#") Giới thiệu
                    li
                        a(href="#") Quy chế hoạt động
                    li
                        a(href="#") Cơ chế Giải quyết tranh chấp
                    li
                        a(href="#") Tài liệu hướng dẫn sử dụng
            .footer__policy.footer__item
                h2 Chính sách
                ul
                    li
                        a(href="#") Điều lệ tham gia đấu giá
                    li
                        a(href="#") Văn bán pháp quy
                    li
                        a(href="#") Chính sách bảo mật thông tin
            .footer__sub.footer__item
                h2 Đăng ký nhận tin mới qua email
                .footer__reg
                    input#email(type="email", name="email", placeholder="Địa chỉ email")
                    span
                    button.btn.btn--reg
                        img(src="./images/icon-email.png", alt="email")