<!DOCTYPE html>
html(lang="en")
    include head/head.pug
        
    body
        include header/header.pug
        main.main
            .containers
                nav(aria-label='breadcrumb')
                    ol.breadcrumb.bg-white.mt-3.d-flex.align-items-center.text-custom
                        li.breadcrumb-item
                            a.text-info(href='/public/index.html')
                                img(src="./images/icon-home.png", alt="")
                                |  Trang Chủ
                        li.breadcrumb-item
                            | Auction
                        li.breadcrumb-item.active(aria-current='page') 28
                
                .row

               
                       
        include footer/footer.pug
    //- script(src="./js/jquery-3.5.1.min.js")
    //- script(src="./js/popper.min.js")
    //- script(src="./js/bootstrap.min.js")
    //- script(src="./js/owl.carousel.js")
    //- script(src="./js/owl.carousel.min.js")
    //- script(src="./js/moment.min.js")
    //- script(src="./js/bootstrap-datetimepicker.min.js")
    //- script(src="./js/datatables.min.js")
    //- script(src="./js/dataTables.bootstrap4.min.js")
    //- script(src="./js/table-datatables-responsive.min.js")

    //- script(src="./js/custom.js")
    include script/script.pug
   
