<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dau gia
        link(rel="stylesheet", href="./css/bootstrap.min.css")
        link(rel="stylesheet", href="./css/custom.css")
        
        script(src="./js/jquery-3.5.1.min.js")
        script(src="./js/bootstrap.min.js")
        
        //- link(rel="stylesheet", href="./css/reset.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./css/style.css")
        
    body
        header.header
            .header__top
                .containers
                    .header__rows
                        .header__cols
                            img(src="./images/icon-phone.png", alt="phone")
                            span +88 12345678
                        .header__cols
                            img(src="./images/icon-email.png", alt="phone")
                            span youremail@gmail.com
                        .header__cols.relative.hide
                            img(src="./images/icon-noti.png", alt="phone")
                            span.noti 2
                        .header__cols.hide
                            img(src="./images/icon-user.png", alt="phone")
                            span Hi, Buyer
                        .header__cols
                            a(href="./sigup.html").green Register
                        .header__cols
                            a(href="./login.html").green Login
            .header__menu
                .containers
                    
                    .menu
                        //- i.fas.fa-times.menu__close
                        .menu__logo
                            img(src="./images/logo.png", alt="logo")
                            .menu__head
                                h2 Đấu Giá Trực Tuyến
                                p Best Biding System
                        //- i.fas.fa-bars.menu__collapse
                        .menu__collapse(onclick='myFunction(this)')
                            .bar1
                            .bar2
                            .bar3
                        .menu__nav
                            ul.menu__list
                                li.menu__item
                                    a(href="#") Tài sản đấu giá
                                li.menu__item
                                    a(href="#") Liên hệ
                                li.menu__item
                                    a(href="#") Tin tức
                                li.menu__item
                                    a(href="#") Hỗ trợ
                        .menu__search
                            button.btn.btn--search
                                img(src="./images/icon-search.png", alt="search")
            .header__banner
        
        
        
        main.main
        footer
            .containers
                .footer
                    .footer__logo
                        img(src="./images/logo2.png", alt="logo")
                        .footer__text 
                            h2 Đấu Giá Trực Tuyến
                            p Best Biding System
                    .footer__about.footer__item
                        h2 Về chúng tôi
                        ul
                            li
                                a(href="#") Giới thiệu
                            li
                                a(href="#") Quy chế hoạt động
                            li
                                a(href="#") Cơ chế Giải quyết tranh chấp
                            li
                                a(href="#") Tài liệu hướng dẫn sử dụng
                    .footer__policy.footer__item
                        h2 Chính sách
                        ul
                            li
                                a(href="#") Điều lệ tham gia đấu giá
                            li
                                a(href="#") Văn bán pháp quy
                            li
                                a(href="#") Chính sách bảo mật thông tin
                    .footer__sub.footer__item
                        h2 Đăng ký nhận tin mới qua email
                        .footer__reg
                            input#email(type="email", name="email", placeholder="Địa chỉ email")
                            button.btn.btn--reg
                                img(src="./images/icon-email.png", alt="email")
    script(src="./js/custom.js")
                