<!DOCTYPE html>
html(lang="en")
    include head/head.pug
        
    body
        include header/header.pug
        main.main
            .containers

                .profile
                    
                    .row
                        .col-12
                            .card.border-0
                                .card-body.qlhoso
                                    .row
                                        .col-md-12
                                            .qlhoso__top.d-flex.flex-column.align-items-center
                                                h2.text-center Quản lý hồ sơ
                                                .qlhoso__image
                                                    img.img-rounded.img-fluid.m-0(src='./images/icon-avata.png', alt='Hình ảnh hồ sơ cá nhân')
                                                    a(href="#").btn.btn--add
                                                        
                                                //- .col-xl-8.clearfix
                                                h3.font-weight-bold.d-inline-block.profile__name.qlhoso__name Mr Buyer
                                                a.btn.text-center.bg-custom-gray.fz-14.float-right.d-inline-block.custom-btn.border-0.custom-modal__button(href='../public/profile.html') BACK TO PROFILE
                                            .qlhoso__bottom
                                                .common-nav.profile__nav
                                                    //- include nav-hoso/nav.pug
                                                    ul#profileTab.nav.nav-tabs.border-0.d-flex.justify-content-between(role='tablist')
                                                        li.nav-item
                                                            a.nav-link(href='../public/manage-profile.html') Thông tin cá nhân
                                                        li.nav-item
                                                            a.nav-link(href='../public/change-password.html') Đổi mật khẩu
                                                        li.nav-item
                                                            a.nav-link(href='../public/address.html') địa chỉ
                                                        li.nav-item
                                                            a.nav-link(href='../public/verification.html') Xác nhận Địa chỉ của bạn
                                                        li.nav-item
                                                            a.nav-link.active(href='../public/verification-with-id.html') Xác minh danh tính của bạn
                                                .card.card-outline.border-top-0.card-info.profile__card
                                                    .card-body.profile__body
                                                        .row.d-flex.justify-content-center
                                                            .col-lg-8.col-sm-10
                                                                .table-responsive-sm
                                                                    table.table.table-borderless.verification-id
                                                                        tbody
                                                                            tr
                                                                                th.verification-id__title Verification with ID:
                                                                               
                                                                            tr
                                                                                th.verification-id__sub Tình trạng xác minh:
                                                                                td.verification-id__green Approved
                                                                            
                                                                                    
                                                    .card-footer.qlhoso__footer
                                                        a.btn.text-center.bg-custom-gray.fz-14.float-right.d-inline-block.custom-btn.border-0.custom-modal__button(href='../public/upload-id.html') Xác minh danh tính




                
                   
        include footer/footer.pug



    
    //- script(src="./js/jquery-3.5.1.min.js")
    //- script(src="./js/popper.min.js")
    //- script(src="./js/bootstrap.min.js")
    //- script(src="./js/owl.carousel.js")
    //- script(src="./js/owl.carousel.min.js")
    //- script(src="./js/moment.min.js")
    //- script(src="./js/bootstrap-datetimepicker.min.js")
    //- script(src="./js/datatables.min.js")
    //- script(src="./js/dataTables.bootstrap4.min.js")
    //- script(src="./js/table-datatables-responsive.min.js")

    //- script(src="./js/custom.js")
    include script/script.pug
   
