.card-header
    .row
        form.cm-filter-form.form-inline.custom-card__form(action='http://classictetriz.com/auctions/search', method='get')
            .col-sm-12.col-md-6.col-xl-3.p-0
                .form-group.clearfix.d-flex
                    .no-select.custom-card__arrow
                        select.form-control.custom-card__control.cm-filter-sort-by(name='p_sort')
                            option(value='') Sắp xếp theo
                            option(value='0') Loại đấu giá
                            option(value='1') Tình trạng đấu giá
                            option(value='2') Giá khởi điểm
                            option(value='3') Thể loại
                            option(value='4') Tiền tệ
                    .no-select.custom-card__arrow
                        select.form-control.custom-card__control.cm-filter-order-by(name='p_ord')
                            option(value='d') Miêu tả
                            option(value='a') Tăng dần
                    button.btn.custom-card__button.btn-info(type='submit')
                        i.fa.fa-arrow-right
            .col-sm-12.col-md-6.col-xl-3.p-0
                .form-group.clearfix.d-flex
                    .custom-card__row
                        input.form-control.custom-card__control.cm-filter-from-date.datepicker(type='text', name='p_frm', placeholder='From date', value='')
                    .custom-card__row
                        input.form-control.custom-card__control.cm-filter-to-date.datepicker(type='text', name='p_to', placeholder='To date', value='')
                    button.btn.custom-card__button.btn-info(type='submit')
                        i.fa.fa-arrow-right
            .col-sm-12.col-md-10.col-xl-6.p-0
                .d-flex.justify-content-end.flex-wrap.cm-filter-search-group 
                    .no-select.flex-3.custom-card__arrow
                        select.form-control.custom-card__control(name='p_ssf')
                            option(value='') Tất cả các lĩnh vực
                            option(value='0') Tiêu đề đấu giá
                            option(value='1') Thể loại
                            option(value='2') Miêu tả
                    .no-select.flex-3.custom-card__arrow
                        select.form-control.custom-card__control.cm-filter-comparison-operator.select-compact(name='p_comp')
                            option(value='lk') Để tương tự
                            option(value='e') chính xác để
                            option(value='l') Nhỏ hơn
                            option(value='le') Ít hơn hoặc tương đương
                            option(value='m') To hơn
                            option(value='me') Lớn hơn hay bằng với
                            option(value='ne') Không công bằng
                    .flex-5.mr-1-percent.d-flex.custom-card__search
                        input.form-control.custom-card__control.w-100.border-0.cm-filter-search(type='text', name='p_srch', placeholder='search', value='')
                        button.btn(type='submit')
                            img(src="./images/icon-search.png", alt="")
                    a.cm-filter-toggler.custom-card__button.d-flex.align-items-center.justify-content-center(href='javascript:;')
                        img(src="./images/icon-filter.png", alt="")
    div
    form.cm-filter-container(action='http://classictetriz.com/auctions/search', method='get', style="display: none;")
        .cm-filter-wrapper.row
            .my-3.col-md-3
                h6 Loại đấu giá
                div
                    input#p_fltr-0-1.cm-filter-checkbox(name='p_fltr[0][]', type='checkbox', value='1')
                    label.cm-filter-checkbox-label(for='p_fltr-0-1') Highest Bid
                div
                    input#p_fltr-0-2.cm-filter-checkbox(name='p_fltr[0][]', type='checkbox', value='2')
                    label.cm-filter-checkbox-label(for='p_fltr-0-2') Blind Bid
                div
                    input#p_fltr-0-3.cm-filter-checkbox(name='p_fltr[0][]', type='checkbox', value='3')
                    label.cm-filter-checkbox-label(for='p_fltr-0-3') Unique Bid
                div
                    input#p_fltr-0-4.cm-filter-checkbox(name='p_fltr[0][]', type='checkbox', value='4')
                    label.cm-filter-checkbox-label(for='p_fltr-0-4') Vickrey Auction
            .my-3.col-md-3
                h6 Tình trạng đấu giá
                div
                    input#p_fltr-1-1.cm-filter-checkbox(name='p_fltr[1][]', type='checkbox', value='1')
                    label.cm-filter-checkbox-label(for='p_fltr-1-1') Running
                div
                    input#p_fltr-1-2.cm-filter-checkbox(name='p_fltr[1][]', type='checkbox', value='2')
                    label.cm-filter-checkbox-label(for='p_fltr-1-2') Completed
            .my-3.col-md-3
                h6 Tình trạng đấu giá
                div
                    input#p_fltr-2-1.cm-filter-checkbox(name='p_fltr[2][]', type='checkbox', value='1')
                    label.cm-filter-checkbox-label(for='p_fltr-2-1') Running
                div
                    input#p_fltr-2-2.cm-filter-checkbox(name='p_fltr[2][]', type='checkbox', value='2')
                    label.cm-filter-checkbox-label(for='p_fltr-2-2') Completed
        button.btn.btn-info(type='submit')
            i.fa.fa-filter
            |  Filter