<!-- login modal -->
.custom-modal
  #loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', style='display: none;', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.custom-modal__dialog(role='document')
      .modal-content.custom-modal__content
        .modal-header.custom-modal__header
          h5#exampleModalLongTitle.custom-modal__title Đăng nhập Bảng điều chỉnh
          button.custom-modal__close.close(type='button', data-dismiss='modal', aria-label='Close')
            span.custom-modal__icon-close(aria-hidden='true')
        .modal-body
          .row
            .col-lg-12.col-md-12
              form.laraframe-form.custom-login.custom-modal__form.cvalidate(action='#', method='post')
                //- input(type='hidden', name='_token', value='')
                //- input(type='hidden', value='fam', name='base_key')
                #loginAlert.alert.login-alert(role='alert', style='display: none;')
                .custom-modal__row.custom-modal__row--name
                  input#txt_uname.custom-modal__input(type='text', name='fake_255', placeholder='', value='')
                  label(for="txt_uname").custom-modal__label Username
                //-   span.invalid-feedback
                //-   span#username_alert.alert.login-alert.mb-0.mt-1.p-1.fz-12(role='alert', style='display: none;')
                .custom-modal__row.custom-modal__row--pass
                  input#txt_pwd.custom-modal__input(type='password', name='fake_256', placeholder='')
                  label(for="txt_pwd").custom-modal__label Password
                //-   span.invalid-feedback
                //-   span#password_alert.alert.login-alert.mb-0.mt-1.p-1.fz-12(role='alert', style='display: none;')
                .form-row.custom-modal__padding
                  .checkbox.col-6.custom-modal__checkbox
                    input#rememberMe.custom-modal__remember-input(type='checkbox', name='fake_260')
                    span.custom-modal__checkmark
                    label.custom-modal__checkbox(for='rememberMe') Ghi nhớ
                  .col-6.text-right.laraframe-form
                    a.custom-modal__forgot(href='#') Quên mật khẩu?
                .form-group.custom-modal__login
                  button#but_submit.custom-modal__button(type='submit') Đăng nhập
        .modal-footer.custom-modal__footer
          .custom-modal__bottom
            p.custom-modal__text Don not have an account?
            a.custom-modal__create(data-toggle='modal', data-dismiss='modal', aria-label='Close', data-target='#registerModal', href='javascript;') Tạo một cái

<!-- register modal -->
.custom-modal.register-modal
  #registerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', style='display: none;', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.custom-modal__dialog(role='document')
      .modal-content.custom-modal__content
        .modal-header.custom-modal__header
          h5#exampleModalLongTitle.custom-modal__title Đăng ký
          button.custom-modal__close.close(type='button', data-dismiss='modal', aria-label='Close')
            span.custom-modal__icon-close(aria-hidden='true')
        .modal-body
          .row
            .col-lg-12.col-md-12
              form.laraframe-form.custom-login.custom-modal__form.cvalidate(action='#', method='post')
                input(type='hidden', name='_token', value='')
                input(type='hidden', value='fam', name='base_key')
                #registerAlert.alert.login-alert(role='alert', style='display: none;')
                .form-row
                  .col-md-6
                    .custom-modal__row.custom-modal__row--name
                      input#first_name.custom-modal__input(type='text', name='fake_265', value='', placeholder='', data-cval-name='The first name field', data-cval-rules='required|escapeInput|alphaSpace')
                      label(for="first_name").custom-modal__label First Name
                      span.invalid-feedback.cval-error(data-cval-error='fake_265') The first name field is required
                      span#first_name_alert.alert.login-alert.mb-0.mt-1.p-1.fz-12(role='alert', style='display: none;')
                  .col-md-6
                    .custom-modal__row.custom-modal__row--name
                      input#last_name.custom-modal__input(type='text', name='fake_266', value='', placeholder='', data-cval-name='The last name field', data-cval-rules='required|escapeInput|alphaSpace')
                      label(for="last_name").custom-modal__label Last Name
                      span.invalid-feedback.cval-error(data-cval-error='fake_266') The last name field is required
                      span#last_name_alert.alert.login-alert.mb-0.mt-1.p-1.fz-12(role='alert', style='display: none;')
                .custom-modal__row.custom-modal__row--name
                  input#reg-username.custom-modal__input(type='text', name='fake_255', value='', placeholder='', data-cval-name='The username field', data-cval-rules='required|escapeInput|alphaDash')
                  label(for="reg-username").custom-modal__label Username
                  span.invalid-feedback.cval-error(data-cval-error='fake_255') The username field is required
                  span#username_alert.alert.login-alert.mb-0.mt-1.p-1.fz-12(role='alert', style='display: none;')
                .custom-modal__row.custom-modal__row--name
                  input#reg-email.custom-modal__input(type='text', name='fake_249', value='', placeholder='', data-cval-name='The email field', data-cval-rules='required|escapeInput|email')
                  label(for="reg-email").custom-modal__label Email
                  span.invalid-feedback.cval-error(data-cval-error='fake_249') The email field is required
                  span#email_alert.alert.login-alert.mb-0.mt-1.p-1.fz-12(role='alert', style='display: none;')
                .custom-modal__row.custom-modal__row--name
                  input#reg-password.custom-modal__input(type='password', name='fake_256', placeholder='', data-cval-name='The password field', data-cval-rules='required|followedBy:password_confirmation')
                  label(for="reg-password").custom-modal__label Password
                  span.invalid-feedback.cval-error(data-cval-error='fake_256') The password field is required
                  span#password_alert.alert.login-alert.mb-0.mt-1.p-1.fz-12(role='alert', style='display: none;')
                .custom-modal__row.custom-modal__row--pass
                  input#reg-password_confirmation.custom-modal__input(type='password', name='password_confirmation', placeholder='', data-cval-name='The confirm password field', data-cval-rules='required|follow:fake_256')
                  label(for="reg-password_confirmation").custom-modal__label Confirm Password
                  span.invalid-feedback.cval-error(data-cval-error='password_confirmation') The confirm password field is required
                  span#password_confirmation_alert.alert.login-alert.mb-0.mt-1.p-1.fz-12(role='alert', style='display: none;')
                .form-row.custom-modal__padding
                  .checkbox.pl-0.custom-modal__checkbox
                    input#agreement.custom-modal__remember-input(type='checkbox', name='check_agreement', data-cval-name='The accept our terms and conditions field', data-cval-rules='required')
                    span.custom-modal__checkmark
                    label.custom-modal__checkbox(for='agreement') Chấp nhận các điều khoản và điều kiện của chúng tôi.
                    span.invalid-feedback.cval-error(data-cval-error='check_agreement')
               
                .form-group.custom-modal__login
                  button#reg_submit.custom-modal__button(type='submit', disabled='disabled') Đăng ký
        .modal-footer.custom-modal__footer
          .custom-modal__bottom
            p.custom-modal__text Bạn co săn sàng để tạo một tai khoản?
            a.custom-modal__create(data-toggle='modal', data-dismiss='modal', aria-label='Close', data-target='#loginModal', href='javascript;') Đăng nhập